*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none
}
ul,li{
    list-style: none
}
html,body{
    width: 100%;
    font-size: 12px;
}
.main{
    height: 200px;
    width: 1200px;
    margin: 0 auto;
    border: 1px solid;
}