*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none
    /* 清除下划线 */
}
ul,li{
    list-style: none
}
html,body{
    width: 100%;
    font-size: 12px;
}
.main{
   
    width: 1200px;
    margin: 0 auto;
}